In [2]:
import pandas as pd
from pandas import *
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# THE USGS PROVIDES ON PAST EARTHQUAKES 

#FOR THIS ASSIGNMENT A csv file is taken from USGS website having details on all the
#Earthquakes happended in past 1 week worldwide.

In [4]:
data= pd.read_csv("USGS_5min.csv")

In [5]:
data

Empty DataFrame
Columns: [time, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, updated, place, type]
Index: []

In [6]:
#PAST 1 WEEK EARTHQUAKE DETAILS SPREAD SHEET
data= pd.read_csv("2.5_day.csv")
data

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2015-12-02T19:40:30.200Z,36.812300,-98.270900,5.000,3.40,mb_lg,NaN,114.0,0.049000,0.2300,us,us100042sp,2015-12-02T19:51:18.791Z,"9km NE of Cherokee, Oklahoma",earthquake
1,2015-12-02T17:51:10.990Z,19.382834,-155.237167,3.660,2.94,ml,51,60.0,0.009773,0.3200,hv,hv61119701,2015-12-02T17:57:25.635Z,"5km S of Volcano, Hawaii",earthquake
2,2015-12-02T17:09:01.000Z,58.148600,-152.764400,70.500,2.80,ml,NaN,NaN,NaN,0.6500,ak,ak12109176,2015-12-02T17:38:41.365Z,"43km NNW of Kodiak Station, Alaska",earthquake
3,2015-12-02T14:29:50.300Z,19.489000,-64.358000,59.000,3.50,Md,11,306.0,1.094148,0.1700,pr,pr15336003,2015-12-02T16:43:01.165Z,"121km NNE of Road Town, British Virgin Islands",earthquake
4,2015-12-02T13:14:35.700Z,18.875700,-64.559300,14.000,3.20,Md,5,288.0,0.459937,0.2300,pr,pr15336002,2015-12-02T13:32:28.913Z,"51km N of Road Town, British Virgin Islands",earthquake
5,2015-12-02T12:12:39.700Z,-16.796900,175.173300,66.180,4.70,mb,NaN,131.0,7.776000,0.6300,us,us100042p1,2015-12-02T12:47:04.495Z,"260km WNW of Lautoka, Fiji",earthquake
6,2015-12-02T10:20:48.470Z,36.821335,-121.549164,4.750,2.50,md,47,34.0,0.028870,0.0700,nc,nc72563276,2015-12-02T18:23:54.286Z,"2km SSW of San Juan Bautista, California",earthquake
7,2015-12-02T10:08:29.680Z,-6.267800,154.673400,63.280,5.30,mb,NaN,51.0,3.240000,0.7300,us,us100042nk,2015-12-02T18:11:02.551Z,"89km W of Panguna, Papua New Guinea",earthquake
8,2015-12-02T10:05:25.000Z,61.693800,-147.262900,35.800,4.60,ml,NaN,NaN,NaN,0.5600,ak,ak12107786,2015-12-02T18:08:01.347Z,"82km NW of Valdez, Alaska",earthquake
9,2015-12-02T10:02:15.660Z,35.973800,69.318700,41.350,4.50,mb,NaN,97.0,1.447000,0.7500,us,us100042nd,2015-12-02T18:05:00.809Z,"19km ESE of Nahrin, Afghanistan",earthquake
10,2015-12-02T10:00:51.000Z,-4.886400,152.517000,49.740,4.70,mb,NaN,161.0,0.775000,1.0800,us,us100042nh,2015-12-02T18:03:35.235Z,"65km SSE of Kokopo, Papua New Guinea",earthquake
11,2015-12-02T09:38:27.570Z,-30.417700,-72.135500,10.000,4.80,mwr,NaN,91.0,0.501000,1.5900,us,us100042n3,2015-12-02T17:41:05.327Z,"91km WNW of Ovalle, Chile",earthquake
12,2015-12-02T08:41:40.500Z,18.922500,-67.011100,35.000,2.80,Md,4,324.0,0.462632,0.0700,pr,pr15336000,2015-12-02T16:44:23.921Z,"46km N of Isabela, Puerto Rico",earthquake
13,2015-12-02T06:48:06.660Z,39.040600,144.688800,17.640,4.80,mb,NaN,137.0,3.192000,0.8100,us,us100042mm,2015-12-02T14:50:50.065Z,"241km E of Yamada, Japan",earthquake
14,2015-12-02T06:35:38.000Z,59.241500,-152.479100,57.500,2.80,ml,NaN,NaN,NaN,0.5900,ak,ak12106903,2015-12-02T14:38:18.972Z,"69km SW of Homer, Alaska",earthquake
15,2015-12-02T06:20:00.010Z,36.728200,-98.039500,9.340,2.80,mb_lg,NaN,53.0,0.093000,0.8000,us,us100042mf,2015-12-02T14:22:40.396Z,"28km E of Cherokee, Oklahoma",earthquake
16,2015-12-02T05:21:57.650Z,24.146400,121.934000,18.350,4.70,mb,NaN,86.0,0.311000,1.0700,us,us100042m5,2015-12-02T13:24:29.267Z,"38km ENE of Hualian, Taiwan",earthquake
17,2015-12-02T04:53:36.261Z,41.874100,-119.626700,11.900,2.50,ml,7,179.5,0.148000,0.2195,nn,nn00521096,2015-12-02T12:56:05.662Z,"69km ESE of Lakeview, Oregon",earthquake
18,2015-12-02T04:41:19.640Z,38.404300,141.871400,59.300,4.60,mb,NaN,133.0,1.006000,0.8000,us,us100042m1,2015-12-02T12:43:51.801Z,"49km E of Ishinomaki, Japan",earthquake
19,2015-12-02T02:57:22.250Z,40.284500,-124.556999,17.830,2.72,md,17,255.0,0.211900,0.1300,nc,nc72563146,2015-12-02T11:00:03.448Z,"40km SW of Ferndale, California",earthquake
20,2015-12-02T02:19:14.000Z,58.671100,-151.165500,0.100,2.60,ml,NaN,NaN,NaN,0.7500,ak,ak12106027,2015-12-02T10:21:59.089Z,"110km SSE of Homer, Alaska",earthquake
21,2015-12-02T00:51:47.470Z,17.154700,147.598000,10.000,4.80,mb,NaN,146.0,1.980000,0.9200,us,us100042lk,2015-12-02T08:54:13.528Z,"220km ESE of Pagan, Northern Mariana Islands",earthquake
22,2015-12-01T22:48:06.410Z,38.692200,142.305600,30.050,4.70,mb,NaN,135.0,1.448000,0.9600,us,us100042kn,2015-12-02T06:50:45.065Z,"66km SE of Ofunato, Japan",earthquake
23,2015-12-01T22:17:05.300Z,49.453333,-120.478500,0.024,2.50,md,6,304.0,1.406000,0.2300,uw,uw61094852,2015-12-01T22:55:43.377Z,"2km ESE of Princeton, Canada",explosion
24,2015-12-01T20:20:12.730Z,-6.981300,155.559300,53.320,5.00,mb,NaN,93.0,4.370000,0.5900,us,us100042jf,2015-12-02T19:55:30.390Z,"73km S of Panguna, Papua New Guinea",earthquake

In [7]:
newt = data[["place", "mag", "time"]]
newt

,place,mag,time
0,"9km NE of Cherokee, Oklahoma",3.40,2015-12-02T19:40:30.200Z
1,"5km S of Volcano, Hawaii",2.94,2015-12-02T17:51:10.990Z
2,"43km NNW of Kodiak Station, Alaska",2.80,2015-12-02T17:09:01.000Z
3,"121km NNE of Road Town, British Virgin Islands",3.50,2015-12-02T14:29:50.300Z
4,"51km N of Road Town, British Virgin Islands",3.20,2015-12-02T13:14:35.700Z
5,"260km WNW of Lautoka, Fiji",4.70,2015-12-02T12:12:39.700Z
6,"2km SSW of San Juan Bautista, California",2.50,2015-12-02T10:20:48.470Z
7,"89km W of Panguna, Papua New Guinea",5.30,2015-12-02T10:08:29.680Z
8,"82km NW of Valdez, Alaska",4.60,2015-12-02T10:05:25.000Z
9,"19km ESE of Nahrin, Afghanistan",4.50,2015-12-02T10:02:15.660Z
10,"65km SSE of Kokopo, Papua New Guinea",4.70,2015-12-02T10:00:51.000Z
11,"91km WNW of Ovalle, Chile",4.80,2015-12-02T09:38:27.570Z
12,"46km N of Isabela, Puerto Rico",2.80,2015-12-02T08:41:40.500Z
13,"241km E of Yamada, Japan",4.80,2015-12-02T06:48:06.660Z
14,"69km SW of Homer, Alaska",2.80,2015-12-02T06:35:38.000Z
15,"28km E of Cherokee, Oklahoma",2.80,2015-12-02T06:20:00.010Z
16,"38km ENE of Hualian, Taiwan",4.70,2015-12-02T05:21:57.650Z
17,"69km ESE of Lakeview, Oregon",2.50,2015-12-02T04:53:36.261Z
18,"49km E of Ishinomaki, Japan",4.60,2015-12-02T04:41:19.640Z
19,"40km SW of Ferndale, California",2.72,2015-12-02T02:57:22.250Z
20,"110km SSE of Homer, Alaska",2.60,2015-12-02T02:19:14.000Z
21,"220km ESE of Pagan, Northern Mariana Islands",4.80,2015-12-02T00:51:47.470Z
22,"66km SE of Ofunato, Japan",4.70,2015-12-01T22:48:06.410Z
23,"2km ESE of Princeton, Canada",2.50,2015-12-01T22:17:05.300Z
24,"73km S of Panguna, Papua New Guinea",5.00,2015-12-01T20:20:12.730Z

In [8]:
#PLACES WITH EARTHQUAKE GREATER THEN 3 IN LAST 1 WEEK
newt2=newt[(newt.mag >= 3)]
newt2

,place,mag,time
0,"9km NE of Cherokee, Oklahoma",3.4,2015-12-02T19:40:30.200Z
3,"121km NNE of Road Town, British Virgin Islands",3.5,2015-12-02T14:29:50.300Z
4,"51km N of Road Town, British Virgin Islands",3.2,2015-12-02T13:14:35.700Z
5,"260km WNW of Lautoka, Fiji",4.7,2015-12-02T12:12:39.700Z
7,"89km W of Panguna, Papua New Guinea",5.3,2015-12-02T10:08:29.680Z
8,"82km NW of Valdez, Alaska",4.6,2015-12-02T10:05:25.000Z
9,"19km ESE of Nahrin, Afghanistan",4.5,2015-12-02T10:02:15.660Z
10,"65km SSE of Kokopo, Papua New Guinea",4.7,2015-12-02T10:00:51.000Z
11,"91km WNW of Ovalle, Chile",4.8,2015-12-02T09:38:27.570Z
13,"241km E of Yamada, Japan",4.8,2015-12-02T06:48:06.660Z
16,"38km ENE of Hualian, Taiwan",4.7,2015-12-02T05:21:57.650Z
18,"49km E of Ishinomaki, Japan",4.6,2015-12-02T04:41:19.640Z
21,"220km ESE of Pagan, Northern Mariana Islands",4.8,2015-12-02T00:51:47.470Z
22,"66km SE of Ofunato, Japan",4.7,2015-12-01T22:48:06.410Z
24,"73km S of Panguna, Papua New Guinea",5.0,2015-12-01T20:20:12.730Z

In [9]:
np.max(newt2,axis =1)

0                     9km NE of Cherokee, Oklahoma
3                         2015-12-02T14:29:50.300Z
4      51km N of Road Town, British Virgin Islands
5                       260km WNW of Lautoka, Fiji
7              89km W of Panguna, Papua New Guinea
8                        82km NW of Valdez, Alaska
9                         2015-12-02T10:02:15.660Z
10            65km SSE of Kokopo, Papua New Guinea
11                       91km WNW of Ovalle, Chile
13                        241km E of Yamada, Japan
16                     38km ENE of Hualian, Taiwan
18                     49km E of Ishinomaki, Japan
21    220km ESE of Pagan, Northern Mariana Islands
22                       66km SE of Ofunato, Japan
24             73km S of Panguna, Papua New Guinea
dtype: object

In [10]:
from __future__ import division

In [11]:
#STATISTICAL ANALYSIS OF DATA
data.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,25.000000,25.000000,25.000000,25.000000,8.000000,21.000000,21.000000,25.000000
mean,27.378428,-12.154209,29.744560,3.770400,18.500000,151.357143,1.429012,0.597980
std,24.780993,131.142062,23.829114,1.014563,19.302109,91.133575,1.885677,0.379472
min,-30.417700,-155.237167,0.024000,2.500000,4.000000,34.000000,0.009773,0.070000
25%,18.875700,-121.549164,10.000000,2.800000,5.750000,91.000000,0.211900,0.230000
50%,36.728200,-67.011100,18.350000,3.500000,9.000000,133.000000,0.775000,0.630000
75%,40.284500,142.305600,53.320000,4.700000,24.500000,179.500000,1.448000,0.800000
max,61.693800,175.173300,70.500000,5.300000,51.000000,324.000000,7.776000,1.590000

In [12]:
#totoal number of earthquakes happened in past 7 days
len(data["mag"])

25

In [13]:
#Disply all the places where Earthquake happened:
places= pd.DataFrame(data["place"].unique(), columns=["All Affected areas"])
places

                                All Affected areas
0                     9km NE of Cherokee, Oklahoma
1                         5km S of Volcano, Hawaii
2               43km NNW of Kodiak Station, Alaska
3   121km NNE of Road Town, British Virgin Islands
4      51km N of Road Town, British Virgin Islands
5                       260km WNW of Lautoka, Fiji
6         2km SSW of San Juan Bautista, California
7              89km W of Panguna, Papua New Guinea
8                        82km NW of Valdez, Alaska
9                  19km ESE of Nahrin, Afghanistan
10            65km SSE of Kokopo, Papua New Guinea
11                       91km WNW of Ovalle, Chile
12                  46km N of Isabela, Puerto Rico
13                        241km E of Yamada, Japan
14                        69km SW of Homer, Alaska
15                    28km E of Cherokee, Oklahoma
16                     38km ENE of Hualian, Taiwan
17                    69km ESE of Lakeview, Oregon
18                     49km E of Ishinomaki, Japan
19                 40km SW of Ferndale, California
20                      110km SSE of Homer, Alaska
21    220km ESE of Pagan, Northern Mariana Islands
22                       66km SE of Ofunato, Japan
23                    2km ESE of Princeton, Canada
24             73km S of Panguna, Papua New Guinea

In [14]:
newdata = data[data["place"]=="2km SSW of San Juan Bautista, California"].sort("mag")
newdata

C:\Users\PERSONAL\myvagrant\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
6,2015-12-02T10:20:48.470Z,36.821335,-121.549164,4.75,2.5,md,47,34,0.02887,0.07,nc,nc72563276,2015-12-02T18:23:54.286Z,"2km SSW of San Juan Bautista, California",earthquake

In [15]:
#Counting how many times each Earthquake magnitude ouccured
newdata = data["mag"].value_counts()
newdata

2.80    4
4.70    4
4.80    3
2.50    3
4.60    2
2.60    1
2.72    1
5.00    1
3.40    1
3.20    1
5.30    1
4.50    1
2.94    1
3.50    1
Name: mag, dtype: int64

In [16]:
#DATA with magnitude grater than 4
newdata = data[data["mag"] >= 4].sort("place")
newdata

C:\Users\PERSONAL\myvagrant\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
9,2015-12-02T10:02:15.660Z,35.9738,69.3187,41.35,4.5,mb,NaN,97,1.447,0.75,us,us100042nd,2015-12-02T18:05:00.809Z,"19km ESE of Nahrin, Afghanistan",earthquake
21,2015-12-02T00:51:47.470Z,17.1547,147.5980,10.00,4.8,mb,NaN,146,1.980,0.92,us,us100042lk,2015-12-02T08:54:13.528Z,"220km ESE of Pagan, Northern Mariana Islands",earthquake
13,2015-12-02T06:48:06.660Z,39.0406,144.6888,17.64,4.8,mb,NaN,137,3.192,0.81,us,us100042mm,2015-12-02T14:50:50.065Z,"241km E of Yamada, Japan",earthquake
5,2015-12-02T12:12:39.700Z,-16.7969,175.1733,66.18,4.7,mb,NaN,131,7.776,0.63,us,us100042p1,2015-12-02T12:47:04.495Z,"260km WNW of Lautoka, Fiji",earthquake
16,2015-12-02T05:21:57.650Z,24.1464,121.9340,18.35,4.7,mb,NaN,86,0.311,1.07,us,us100042m5,2015-12-02T13:24:29.267Z,"38km ENE of Hualian, Taiwan",earthquake
18,2015-12-02T04:41:19.640Z,38.4043,141.8714,59.30,4.6,mb,NaN,133,1.006,0.80,us,us100042m1,2015-12-02T12:43:51.801Z,"49km E of Ishinomaki, Japan",earthquake
10,2015-12-02T10:00:51.000Z,-4.8864,152.5170,49.74,4.7,mb,NaN,161,0.775,1.08,us,us100042nh,2015-12-02T18:03:35.235Z,"65km SSE of Kokopo, Papua New Guinea",earthquake
22,2015-12-01T22:48:06.410Z,38.6922,142.3056,30.05,4.7,mb,NaN,135,1.448,0.96,us,us100042kn,2015-12-02T06:50:45.065Z,"66km SE of Ofunato, Japan",earthquake
24,2015-12-01T20:20:12.730Z,-6.9813,155.5593,53.32,5.0,mb,NaN,93,4.370,0.59,us,us100042jf,2015-12-02T19:55:30.390Z,"73km S of Panguna, Papua New Guinea",earthquake
8,2015-12-02T10:05:25.000Z,61.6938,-147.2629,35.80,4.6,ml,NaN,NaN,NaN,0.56,ak,ak12107786,2015-12-02T18:08:01.347Z,"82km NW of Valdez, Alaska",earthquake
7,2015-12-02T10:08:29.680Z,-6.2678,154.6734,63.28,5.3,mb,NaN,51,3.240,0.73,us,us100042nk,2015-12-02T18:11:02.551Z,"89km W of Panguna, Papua New Guinea",earthquake
11,2015-12-02T09:38:27.570Z,-30.4177,-72.1355,10.00,4.8,mwr,NaN,91,0.501,1.59,us,us100042n3,2015-12-02T17:41:05.327Z,"91km WNW of Ovalle, Chile",earthquake

In [17]:
#Statistical analysis of mag
result =newdata.describe()

result["mag"]

count    12.000000
mean      4.766667
std       0.210339
min       4.500000
25%       4.675000
50%       4.700000
75%       4.800000
max       5.300000
Name: mag, dtype: float64